.nav{
	background-color: white;
	z-index:9;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.nav_top{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.logo{
	float: left;
	width: 60%;
}

.logo img{
	padding: 10px;
}

.nav_side{
	float: right;
	width: 40%;
	margin-top: 25px;
}

.nav_side a{
	text-decoration: none;
	margin-right: 20px;
	margin-top: 30px;
	color: black;
	font-weight: bold;
	font-family: cosmic, san-serif;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.nav_side a:hover{
	color: lime;
	transition: all 0.5s ease;
}

.main{
	background-image: url('bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:relative;
	
}

.main .main_content{
	padding-top: 8%;
	margin-left: 10%;
	margin-right: 10%;
	
	

}

.main .main_content h2{
	color: black;
	font-size: 35px;
	font-family: cosmic, san-serif;
margin-top: 55px;
	text-align: center;
	
	
}



.main .main_content h2 span{
	padding: 5px;
	margin-top: 60px;
	padding-top:90px;
	font-size:20px;
	opacity: 0.9;
	color: #0F52BA;

	Line-height: 20px;
}

.main .main_content .btnn{
	float: center;
	margin-top: 40px;
	text-align: center;
	padding-bottom: 80px;
	
}

.main .main_content .btnn a{
	text-decoration: none;
	margin: 50px;
	padding: 10px 20px;
	background-color: #0F52BA;
    color: white;
	font-family: cosmic, sans-san-serif;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	transition: 0.5s;
}

.main .main_content .btnn a:hover{
	background-color: black;
	color: lime;
	border: node;
	border-bottom: 4px solid lime;
	transition: 0.5;
}

.product{
	padding-bottom: 50px;
	padding-top: 50px;
}

.product h2{
	color: black;
	font-size: 35px;
	text-align: center;
	padding-top: 20px;
}

.product .product_container .item{
	width: 33.33%;
	margin: 10px;
	height: auto;
}

.product .product_container{
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
}



.product .product_container .item:hover{
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}

.product .product_container .item .item_img{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.product .product_container .item .item_img img{
	width: 100%;
	height: 250px;
}

.product .product_container .item .item_content{
	text-align: center;
	
}

.product .product_container .item .item_content h3{
	padding: 10px;
	font-size: 25px;
	font-family: cosmic, san-serif;
}

.product .product_container .item .item_content p{
	padding: 10px;
	font-size: 15px;
	font-family: cosmic, san-serif;
}

.product .product_container .item .item_content a{
	text-decoration: none;
	margin: 50px;
	padding: 10px 20px;
	background-color: #0F52BA;
    color: white;
	font-family: cosmic, sans-san-serif;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	transition: 0.5s;
}

 .product .product_container .item .item_content a:hover{
	background-color: black;
	color: lime;
	border: node;
	border-bottom: 4px solid lime;
	transition: 0.5;
}
.product .product_btn{
	text-align: center;
	margin-top: 50px;
	
}

.product .product_btn a{
	text-decoration: none;
	padding: 10px 20px;
	background-color: #0F52BA;
    color: white;
	font-family: cosmic, sans-san-serif;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	transition: 0.5s;
}
 .product .product_btn a:hover{
	background-color: black;
	color: lime;
	border: node;
	border-bottom: 4px solid lime;
	transition: 0.5;
}

.keypoint{
	padding: 50px;
}

.keypoint h2{
	color: black;
	font-size: 35px;
	text-align: center;
	padding: 10px;
}

.keypoint .key_container{
	display: flex;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}

.keypoint .key_container .key_content{
	width: 45%;
	padding: 20px;
	float: left;
}

.keypoint .key_container .key_content li{
	list-style: none;
	margin: 10px;
	padding: 10px;
	border-left: 2px solid #0F52BA;
	color: black;
	text-align: left;
	font-family: cosmic, sans-serif;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.keypoint .key_container .key_img{
	width: 40%;
	float: right;
	margin-left: 100px;
}
.keypoint .key_container .key_img img{
	width: 100%;
}

.testi{
	padding: 50px;
}

.testi h3{
	color: black;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
}

.testi .testi_container{
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

.test .testi_container .carousel-inner{
	background-color: white;
	box-shadow: none;
}

.testi .testi_container .item{
	width: 100%;
	padding: 10px;
	background-color: white;
	box-shadow: none;
}

.testi .testi_container .item .item_img{
	width: 100%;
	height: 100px;
	text-align: center;
	overflow: hidden;
}

.testi .testi_container .item .item_img img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	
}

.testi .testi_container .item .item_content{
	text-align: center;
	
}

.testi .testi_container .item .item_content h3{
	padding: 10px;
	font-size: 25px;
	font-family: cosmic, san-serif;
}

.testi .testi_container .item .item_content p{
	padding: 10px;
	font-size: 15px;
	font-family: cosmic, san-serif;
}


.team{
	padding: 50px;
}

.team h2{
	color: black;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
}

.team .team_container{
	display: flex;
}

.team .team_container .team_video{
	width: 50%;
	padding: 20px;
}

.team .team_container .team_video video{
	width: 100%;
	outline: none;
	
}

.team .team_container .team_content{
	width: 40%;
	padding: 20px;
	margin-left: 50px;
}

.team .team_container .team_content p{
	padding: 10px;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}
.feed{
	padding: 50px;
	background-image: url('feedback.jpg');
	background-size: cover;
}

.feed h2{
	color: white;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	
}

.feed .feed_form{
	text-align: center;
	
}


.feed .feed_form form{
	padding: 20px;
	
}
.feed .feed_form form input{
	width: 30%;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: none;
}

.feed .feed_form form textarea{
	width: 30%;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: none;
}

.feed .feed_form form button{
	width: 30%;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: none;
	background-color: #0F52BA;
	color: white;
	border-radius: 5px;
	
}

.feed .feed_form form button:hover{
	background-color: black;
	color: lime;
	border: node;
	border-bottom: 4px solid lime;
	transition: 0.5;
}

.about_us{
	padding: 100px;
}

.about_us h2 h3{
	color: #0F52BA;
	font-size: 35px;
	text-align: center;
	font-family: cosmic, sans-serif;
	padding-top: none;
	
}

.about_us h2{
	color: #0F52BA;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	font-family: cosmic, sans-serif;
	text-transform: uppercase;
}





.about_us p{
	padding: 3px;
	font-size: 20px;
	text-align: center;
	font-family: cosmic,sans-serif;
}
.about_us  li{
	padding: 8px;
	font-size: 20px;
	
	font-family: cosmic,sans-serif;
}

.contact_container{
	padding: 100px;
	
}

.contact_container h2{
	color: #0F52BA;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	font-family: cosmic, sans-serif;
	text-transform: uppercase;
}
.contact_container .g_map{
	border: 1px solid lime;
}

.contact_container .contact_content{
	padding: 20px;
}

.contact_container .contact_content p{
	padding: 5px;
	font-size: 20px;
	text-align: center;
	font-family: cosmic, sans-serif;
	line-height: 20px;
}

.contact_container .contact_content a{
	text-decoration: none;
	margin: 10px;
	color: #0F52BA;
	font-size: 20px;
	font-family: cosmic, sans-serif;
}

.contact_container .contact_content a:hover{
	color: lime;
}

.content {
	padding: 100px;
	
}

.content h2{
	color: #0F52BA;
	font-size: 35px;
	text-align: center;
	font-family: cosmic, sans-serif;
	padding-top: none;
	
}

.content p{
	padding: 3px;
	font-size: 20px;
	text-align: right;
	font-family: cosmic,sans-serif;
	color: 	#C0C0C0;
}
.content .blog p img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
	margin-bottom: 40px;
	
}


.blog p{
	text-align:left;
	font-size: 20px;
	line-height:30px;
	font-family: cosmic,sans-serif;
	color: black;
}



footer{
	background-color: #D8BFD8;
	padding:50px;
}

footer .pages{
	text-align: center;
	
}

footer .pages h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}

footer .pages a{
	text-decoration: none;
	margin: 10px;
	color: #0F52BA;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}

footer .pages a:hover{
	color: white;
}


footer .doc{
	text-align: center;
	
}

footer .doc h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}

footer .doc a{
	text-decoration: none;
	margin: 10px;
	color: #0F52BA;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}

footer .doc a:hover{
	color: white;
}

footer .social{
	text-align: center;
	
}

footer .social h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}

footer .social a{
	text-decoration: none;
	margin: 10px;
	color: #0F52BA;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}

footer .social a:hover{
	color: white;
}

footer .contact{
	text-align: center;
	
}

footer .contact h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
}

footer .contact a{
	text-decoration: none;
	margin: 10px;
	color: #0F52BA;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}

footer .contact a:hover{
	color: white;
}





